@page "/"
<PageTitle>Home</PageTitle>

<!-- Start Home -->
<section class="bg-home d-flex align-items-center bg-animation-left task-management-home" style="height: auto;" id="home">
	<div class="container position-relative" style="z-index: 1;">
		<div class="row justify-content-center">
			<div class="col-lg-12 text-center mt-0 mt-md-5 pt-0 pt-md-5">
				<div class="title-heading margin-top-100">
					<h1 class="heading text-white title-dark mb-3">Welcome to Sport Club Warehouse Service!</h1>
					<p class="para-desc mx-auto text-white-50">
						The aim of this Web application is to demonstrate
						author's skills as a Junior developer.
					</p>
				</div>


				<div class="row justify-content-center">
					<div class="col-lg-10 text-center">
						<div>
							<img src="images/main_logo.png" alt="" class="img-fluid">
						</div>
					</div>
				</div>
			</div><!--end col-->
		</div><!--end row-->
	</div><!--end container-->
</section><!--end section-->
<!-- End Home -->
<!-- Features Start -->
<section class="section mt-0 mt-md-5">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-12">
				<div class="features text-center">
					<div class="image position-relative d-inline-block">
						<i class="uil uil-users-alt h2 text-primary"></i>
					</div>

					<div class="content mt-4">
						<h5>Manage Customers</h5>
						<p class="text-muted mb-0">
							Customers can take and return sport goods and it is a job of a system to keep track of each.
							However, it is a responsibility of an administrator to Manage them.
						</p>
					</div>
				</div>
			</div><!--end col-->

			<div class="col-md-4 col-12 mt-5 mt-sm-0">
				<div class="features text-center">
					<div class="image position-relative d-inline-block">
						<i class="uil uil-basketball h2 text-primary"></i>
					</div>

					<div class="content mt-4">
						<h5>Manage Sport Goods</h5>
						<p class="text-muted mb-0">
							Sport Goods can come and go from the warehouse and it is
							a responsibility of an administrator to add and remove them from the database.
						</p>
					</div>
				</div>
			</div><!--end col-->

			<div class="col-md-4 col-12 mt-5 mt-sm-0">
				<div class="features text-center">
					<div class="image position-relative d-inline-block">
						<i class="uil uil-keyhole-square h2 text-primary"></i>
					</div>

					<div class="content mt-4">
						<h5>Login and Logout </h5>
						<p class="text-muted mb-0">Administrator should sign in using a corporate account to perfrom actions that are mentioned.</p>
					</div>
				</div>
			</div><!--end col-->
		</div><!--end row-->
	</div><!--end container-->

	<div class="container mt-100 mt-60">
		<div class="row justify-content-center">
			<div class="col-12">
				<div class="section-title text-center mb-4 pb-2">
					<h4 class="title mb-4">Feel free to download <NavLink href="https://github.com/Arturios-prog/SportClubWMS"><span class="text-primary">Sport Club WMS</span></NavLink> on Github!</h4>
					<p class="text-muted para-desc mb-0 mx-auto">This project can be downloaded on git, so it could be inspected with a sharp eye.</p>
				</div>
			</div><!--end col-->
		</div><!--end row-->

	</div>
</section><!--end section-->
<!-- Features End -->
