@inherits LayoutComponentBase

<RadzenDialog></RadzenDialog>
<header>
    <NavMenu></NavMenu>
</header>


<div>
    <div class="top-row px-4 bg-blue">
        <LoginDisplay />
        <a href="https://docs.microsoft.com/aspnet/" class="text-white" target="_blank">About</a>
    </div>
    <main role="main">
        @Body
    </main>

</div>
<div>
    <Footer></Footer>
</div>
